.btn-success {
    background-color: rgb(26, 197, 100);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

.btn-success:hover {
    background-color: rgb(18, 133, 68);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}